//Locations suitable for 20K primer in ext dock board

// System Clock (27MHz)
IO_LOC  "sys_clk" H11;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Button 1 - C20K - reset button at back left
IO_LOC  "btn1_n" T6;	
IO_PORT "btn1_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;


// Keyboard - C20L - bodge onto i2c connector for now...
IO_LOC  "ps2_clk" P15;
IO_PORT "ps2_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "ps2_data" P16;
IO_PORT "ps2_data" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// // Mouse - PMOD1
// IO_LOC  "ps2_mouse_clk" T12;
// IO_PORT "ps2_mouse_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// IO_LOC  "ps2_mouse_data" R11;
// IO_PORT "ps2_mouse_data" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// VGA 
IO_LOC "vid_chr_o" E9;
IO_PORT "vid_chr_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;

IO_LOC "vid_r_o" D7;
IO_PORT "vid_r_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;

IO_LOC "vid_g_o" C7;
IO_PORT "vid_g_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;

IO_LOC "vid_b_o" E8;
IO_PORT "vid_b_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;

IO_LOC	"mux_nALE_o"	B11;
IO_PORT	"mux_nALE_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_D_nOE_o"	A11;
IO_PORT	"mux_D_nOE_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_I0_nOE_o"	B12;
IO_PORT	"mux_I0_nOE_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_I1_nOE_o"	C10;
IO_PORT	"mux_I1_nOE_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_O0_nOE_o"	C11;
IO_PORT	"mux_O0_nOE_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_O1_nOE_o"	A12;
IO_PORT	"mux_O1_nOE_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//PERIPHERALS clocks
IO_LOC	"p_2MHZ_E_o"	N8;
IO_PORT	"p_2MHZ_E_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"p_1MHZ_E_o"	L9;
IO_PORT	"p_1MHZ_E_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
//IO_LOC	"p_8MHZ_FDC_o"	R7;
//IO_PORT	"p_8MHZ_FDC_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;


IO_LOC	"mux_io[0]"		C13;
IO_PORT	"mux_io[0]"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_io[1]"		N6;
IO_PORT	"mux_io[1]"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_io[2]"		N7;
IO_PORT	"mux_io[2]"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_io[3]"		N9;
IO_PORT	"mux_io[3]"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_io[4]"		R9;
IO_PORT	"mux_io[4]"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_io[5]"		F10;
IO_PORT	"mux_io[5]"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_io[6]"		D11;
IO_PORT	"mux_io[6]"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mux_io[7]"		D10;
IO_PORT	"mux_io[7]"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;


// SD Card
IO_LOC  "tf_cs" N11;
IO_PORT "tf_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "tf_mosi" R14;
IO_PORT "tf_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "tf_sclk" N10;
IO_PORT "tf_sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "tf_miso" M8;
IO_PORT "tf_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// UART
IO_LOC  "uart_tx" M11;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;
IO_LOC  "uart_rx" T13;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;

// SPI Flash
IO_LOC  "flash_cs" M9;
IO_PORT "flash_cs" IO_TYPE=LVCMOS33;
IO_LOC  "flash_ck" L10;
IO_PORT "flash_ck" IO_TYPE=LVCMOS33;
IO_LOC  "flash_si" R10;
IO_PORT "flash_si" IO_TYPE=LVCMOS33;
IO_LOC  "flash_so" P10;
IO_PORT "flash_so" IO_TYPE=LVCMOS33 PULL_MODE=UP;



// 1BIT DAC AUDIO

IO_LOC	"audior_o"	P7;
IO_PORT	"audior_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"audiol_o"	L8;
IO_PORT	"audiol_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;


// MOBO memory interface 
// note: mem_A is inout as can be to RAM or from CPU
// TODO: make sure CPU doesn't clash!
IO_LOC	"mem_A_o[0]"	P11;
IO_PORT	"mem_A_o[0]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[1]"	P9;
IO_PORT	"mem_A_o[1]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[2]"	L14;
IO_PORT	"mem_A_o[2]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[3]"	L16;
IO_PORT	"mem_A_o[3]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[4]"	T15;
IO_PORT	"mem_A_o[4]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[5]"	G12;
IO_PORT	"mem_A_o[5]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[6]"	F13;
IO_PORT	"mem_A_o[6]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[7]"	M14;
IO_PORT	"mem_A_o[7]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[8]"	H13;
IO_PORT	"mem_A_o[8]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[9]"	K13;
IO_PORT	"mem_A_o[9]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[10]"	N16;
IO_PORT	"mem_A_o[10]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[11]"	T11;
IO_PORT	"mem_A_o[11]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[12]"	M15;
IO_PORT	"mem_A_o[12]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[13]"	J12;
IO_PORT	"mem_A_o[13]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[14]"	H12;
IO_PORT	"mem_A_o[14]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[15]"	N15;
IO_PORT	"mem_A_o[15]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[16]"	T8;
IO_PORT	"mem_A_o[16]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[17]"	G11;
IO_PORT	"mem_A_o[17]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[18]"	R8;
IO_PORT	"mem_A_o[18]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[19]"	J16;
IO_PORT	"mem_A_o[19]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC	"mem_A_o[20]"	T7;
IO_PORT	"mem_A_o[20]"	IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC	"mem_D_io[0]"	R13;
IO_PORT	"mem_D_io[0]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_D_io[1]"	T14;
IO_PORT	"mem_D_io[1]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_D_io[2]"	L13;
IO_PORT	"mem_D_io[2]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_D_io[3]"	K11;
IO_PORT	"mem_D_io[3]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_D_io[4]"	A13;
IO_PORT	"mem_D_io[4]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_D_io[5]"	B10;
IO_PORT	"mem_D_io[5]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_D_io[6]"	T9;
IO_PORT	"mem_D_io[6]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_D_io[7]"	P8;
IO_PORT	"mem_D_io[7]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC	"mem_nCE_FL_o"	P6;
IO_PORT	"mem_nCE_FL_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_nCE_BB_o"	P13;
IO_PORT	"mem_nCE_BB_o"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_nCE_o[1]"	R12;
IO_PORT	"mem_nCE_o[1]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_nCE_o[2]"	T12;
IO_PORT	"mem_nCE_o[2]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_nCE_o[3]"	R11;
IO_PORT	"mem_nCE_o[3]"	IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC	"mem_nOE_o"		N14;
IO_PORT	"mem_nOE_o"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC	"mem_nWE_o"		K12;
IO_PORT	"mem_nWE_o"		IO_TYPE=LVCMOS33 PULL_MODE=NONE;


// HDMI - LVCMOS33D - check example projects use LVDS25
IO_LOC	"tmds_d_p[0]" H14,H16;
IO_PORT	"tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC	"tmds_d_p[1]" J15,K16;
IO_PORT	"tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC	"tmds_d_p[2]" K14,K15;
IO_PORT	"tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC	"tmds_clk_p"  G16,H15;
IO_PORT	"tmds_clk_p"  IO_TYPE=LVCMOS33D PULL_MODE=NONE;
